language: php

cache:
  directories:
    - $HOME/.composer/cache/files
    - .phpunit

env:
  global:
    - SYMFONY_PHPUNIT_DIR=.phpunit

matrix:
  fast_finish: true
  include:
    - php: 7.3
      env: SYMFONY_VERSION="4.4.*"
    - php: 7.3
      env: SYMFONY_VERSION="5.0.*"
    - php: 7.4
      env: SYMFONY_VERSION="4.4.*"
    - php: 7.4
      env: SYMFONY_VERSION="5.0.*"
    - php: 8.0
      env: SYMFONY_VERSION="5.0.*"
    - php: 8.1
      env: SYMFONY_VERSION="6.0.*"

before_install:
  - composer self-update
  - composer validate
  - if [ "$SYMFONY_VERSION" != "" ]; then composer require --no-update symfony/process:"${SYMFONY_VERSION}"; fi

install:
  - composer update $COMPOSER_FLAGS

script: bin/phpunit -v
